<%= form_for(compra) do |f| %>
  <% if compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
      <% compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body form-group">   
        <% if @tipos.present? %>
      <% @tipos.each do |t| %>
        
        <p><label><%= t.nombre %></label></p>
        
        <% @productos.each do |producto| %>
        
          <%if producto.tipo && producto.tipo.nombre==t.nombre %>        
            <div class="field">
              <%= check_box_tag "productos[]", producto.id  %> <%= producto.nombre %>
              
            </div>
            <br>
          <%else%>
        
          <%end%>
        <%end%>
    <%end%>
    <%end%>
    
  <p><label>BEBIDAS </label></p>
    <% @bebidas.each do |bebida| %>
              
          <div class="field">
            <%= check_box_tag "bebidas[]", bebida.id  %> <%= bebida.nombre %>
            
          </div>
          <br>
    <%end%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
